.s-hero{
  padding-top: 8rem;
  .hero-content{
    @include flexCenterJustify;
  }
  .left{
    max-width: 60.4rem;
    h1{
      font-size: 6.4rem;
      font-weight: 600;
      margin-bottom: 2.4rem;
    }
    h4{
      max-width: 57.5rem;
      font-size: 2.4rem;
      font-weight: 300;
      margin-bottom: 4rem;

    }
    
  }

  @include respo('laptop'){   
    padding-top: 4rem;
    .hero-content{
      padding-bottom: 5rem;
      .left{ 
        margin-left: 3rem;
        margin-right: 6rem;
        max-width: 55rem;
        h1{
          font-size: 6.4rem;
          width: 62rem;                                      
        }
        h4{
          font-size: 2rem;
        }
      }
      .right{
        img{
          width: 100%;
        }
      }
    }

  }
  @include respo('tablet'){
    .hero-content{
      .left{
        h1{
          font-size: 4.2rem;
        width: 408px;
          margin-bottom: 1.2rem;
                                               
        }
        h4{
          font-size: 1.6rem;
        }
      }
      .right{
        img{
          width: 100%;
        }
      }
    }
  }

  @include respo('mobile'){
    padding-top: 5.1rem;
    .hero-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .left{
        justify-content: center;
        align-items: center;
        text-align: center;
        h1{
          font-size: 3.6rem;
          text-align: center;
          width: 34.4rem;
          margin-left: 1.8rem;
        }
        h4{
          margin-left: 4.8rem;
          width: 285px;
          text-align: center;
          margin-bottom: 2.4rem ;
        }
      }
      .right{
        max-width: 95%;
        height: auto;
      }
    }

  }

  
}

.s-atuacao{
  padding-top: 1srem;
  .hero-content{
    @include flexCenterJustify;
    .left{
      
      max-width: 43rem;
      h3{
        font-size: 4rem;
        color: $yellow-10;
        font-weight: 700;
        margin-bottom: 2.4rem;
      }
      p{
        max-width: 41rem;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .right{
      padding-left: 8rem;
      // margin-left: 9rem;
      .img-desk{
        width: 80%;
      }
      .img-mobile{
        display: none;
      }
    }
  }
  @include respo('laptop'){   
    padding-top: 4rem;
    .hero-content{
      padding-bottom: 5rem;
      .left{ 
        margin-left: 3rem;
        max-width: 55rem;
        h1{
          font-size: 5.9rem;
        }
        h4{
          font-size: 2rem;
        }
      }
    }

  }

  @include respo('tablet'){
    padding-top: 1rem;
    .hero-content{
      .left{
        max
        h3{
          font-size: 3.6rem;
          width: 312px;
          margin-bottom: 1.2rem;
        }
        p{
          width: 365px;
          font-size: 1.4rem;
        }

      }
      .right{
        padding-left: 5rem;
        img{
          width: 95%;
        }
      }
    }

  }
  
  @include respo('mobile'){
   
    .hero-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      .left{
        margin-left: 0rem;
        h3{
          text-align: center;
          font-size: 3.6rem;
          margin-bottom: 1.4rem;
        }
        p{
          text-align: center;
          font-size: 1.4rem;
          line-height: 150%;
          margin-bottom: 4rem;
          width: 364px;


        }
      }

      .right{
        margin-right: 6rem;
        .img-desk{
          display: none;
        }
        .img-mobile{
          display: block;
          width: 28.8rem;
          height: 30rem;
        }
      }

    
    
   }

  }
}

.s-bio{
  background: url('/img/fundo.png') center/cover fixed no-repeat;
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin-top: 10rem;
  .hero-content{
    @include flexCenterJustify;
    .left{
      margin-top: 8rem;
      margin-left: 10rem;
      max-width: 50.4rem;
      h3{
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 2.4rem;
      }
      p{
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 1.2rem;
      }
      button{
        margin-top: 3.2rem;
      }
    }
    .right{
      img{
        
        margin-right: 10rem;
      }
      .btn-mobile{
        display: none;
      }
    }
  } 
  @include respo('laptop'){ 
    
    // padding-left: 5rem; 
    padding-top: 3rem;
    padding-bottom: 4rem;
    .hero-content{
      padding-bottom: 5rem;
      .left{ 
        margin-left: 6rem;
        max-width: 41rem;
        h1{
          font-size: 5.9rem;
        }
        h4{
          font-size: 2rem;
        }
      }
    }
    .right{
      margin-right: 6rem;
      img{
        width: 100%;
      }
    }

  }

  @include respo('tablet'){
    margin-top: 2rem;
    .hero-content{
      .left{
        h3{
          font-size: 3.6rem;
          width: 357px;
          margin-bottom: 1.2rem;

        }
        p{
          font-size: 1.4rem;
          width: 453px;
          margin-bottom: 1.2rem;

        }
        .btn-secondary{
          margin-top: 2.4rem;
        }
        
      }
      .right{
        img{
          margin-top: 5rem;
          width: 85%;
          margin-right: 3rem;
          margin-left: 5rem;
        }
      }
    }

  }
  @include respo('mobile'){
    margin-top: 0rem;
    .hero-content{
      padding-top: 0rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .left{
        margin-left: 0;
        h3{
          font-size: 3.2rem;
          text-align: center;
          width: 319px;
          margin-bottom: 2.4rem;
        }
        p{
          font-size: 1.4rem;
          text-align: center;
          width: 311px;
          margin-bottom: 1.2rem;
        }
        .btn-secondary {
          display: none;
          
        }
        
      }
      .right{
        
        .btn-mobile{
          display: flex;
          align-items: center;
          margin-top: 5rem;
          margin-left: 6.8rem;
          
        }
      }
   }
  }
}

.s-tcc{
  padding-top: 12rem;
  padding-bottom: 12rem;
  .hero-content{
    @include flexCenterJustify;
    .left{
      max-width: 52.4rem;
      h3{
        font-size: 4rem;
        color: $yellow-10;
        font-weight: 600;
        margin-bottom: 2.4rem;
      }
      p{
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 1.2rem;
        line-height: 150%
      }
  }
}
@include respo('laptop'){   
  padding-top: 3rem;
  padding-bottom: 4rem;
  .hero-content{
    padding-top: 5rem;
    padding-bottom: 5rem;
    .left{ 
      margin-left: 4rem;
      max-width: 41rem;
      h1{
        font-size: 5.9rem;
      }
      h4{
        font-size: 2rem;
      }
    }
  }
  .right{
    margin-right: 2rem;
    img{
      width: 90%;
    }
  }

}
@include respo('tablet'){
  .hero-content{
    .left{
      h3{
        font-size: 3.6rem;
        margin-bottom: 1.2rem;
      }
      p{
        font-size: 1.4rem;
        margin-bottom: 1.2rem;
        width: 436px;
      }
    }
    .right{
      
     img{
        width: 91%;
        margin-left: 7rem
     }
    }
  }
}
@include respo('mobile'){
  .hero-content{
  @include flex-mobile;
  .left{
    margin-left: 0;
    width: 332px;
    h3{
      font-size: 3.2rem;
      text-align: center;
      font-weight: 600;
      margin-bottom: 2.4rem;
    }
    p{
      font-size: 1.4rem;
      text-align: center;
      width: 332px;
    }


  }
  .right{
    img{
      margin-top: 4rem;
      margin-left: 3rem;
    
    }
  }

}
}
}

.s-card{
  background: url('/img/fundo.png') center/cover fixed no-repeat;
  .hero-content{
    padding-top: 13rem;
    padding-bottom: 11.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7.4rem;
  }
  @include respo('laptop'){
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @include respo('tablet'){
    .hero-content{
      gap: 2.4rem;
    }
  
  }
  @include respo('mobile'){
    .hero-content{
      @include flex-mobile;
      gap: 12rem;
    }
  }
}

.s-contato{
  padding-top: 8rem;
  
  .hero-content{
    margin-left: 108px;
    margin-right: 108px;
    
    @include flexCenterJustify;
    .left{
      h4{
        font-size: 3.2rem;
        font-weight: 600;
        margin-bottom: 5.7rem;
      }
      .redes{
        margin-top: 8rem;
        display: flex;
        align-items: center;
        gap: 2.4rem;
        p{
          font-size: 1.6rem;
        }
      }

    }
    .right{
      .faq-card {
        display: flex;
        display: inline-table;
        padding: 6.2rem;
        border-radius: 20px;
        background: linear-gradient(144deg, #F2B90F 13.11%, #F2A007 102.67%);
        width: 46.8rem;
        height: 53.8rem;
        .faq-title {
          font-size: 3.2rem;
          font-weight: 600;
      }
      .faq-description{
        font-size: 1.6rem;
        font-weight: 400;
        margin: 2.4rem 0;
      }

    }
    .faq-item {
        margin-top: 2.2rem;
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
    }
    .faq-question {
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    .faq-question span:first-child {
      margin-right: 1.2rem;
    }
    .faq-answer {
      font-size: 14px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-out, padding 0.3s ease-out;
      padding-left: 25px;
  }
  .faq-answer.open {
      padding-top: 10px;
      max-height: 200px; /* Ajuste conforme necessário */
  }
    
    }
  }
  @include respo('laptop'){
    .hero-content{
      .right{
        .faq-card{
          width: 44.8rem;
          height: 58.8rem;
          
        }
      }
      
}
    .left{
      margin-right: 3rem;
    }

  }
  @include respo('tablet'){
    .hero-content{
      .left{
        h4{
          font-size: 3rem;
          width: 407px;

        }
        .redes{
          p{
            font-size: 1.4rem;
          }
        }
      }
      .right{
        .faq-card{
          padding: 3.2rem;
          width: 325px;
          height: 504px;

          .faq-title{
            margin-bottom: -0.8rem;
          }

          .faq-description{
            font-size: 1.4rem;
            margin-bottom: 1.2rem;

          }

          .faq-question{
            font-size: 1.4rem;
          }
          .faq-item{
            margin-top: 1.2rem;
            border-bottom: 1px solid #000;
            padding-bottom: 10px;

          }

      

        }
      }
    }
  }
  @include respo('mobile'){
   overflow-x: hidden;
    .hero-content{
      
      @include flex-mobile;
      .left{
        width: 36rem;
        @include flex-mobile;
        margin-right: 0rem;
        h4{
          font-size: 2.6rem;
          text-align: center;
          margin-bottom: 3rem;
        }
        .card-contatos{
          margin-bottom: 2.4rem;
        }
        .redes{
          display: none;
        }

      }
      .right{
        .faq-card{
          padding: 4rem;
          width: 35rem;
          height: 46rem;
        .faq-title{
          font-size: 2.4rem;

        }
        }

      }
    }
  }
}

footer{
  margin-top: 8rem;
  padding: 4rem;
  background-image: url(/img/fundo2.png);
  .hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    gap: 1rem;
    
    p{
      font-size: 1.6rem;
      font-weight: 600;
    }
    .inline {
      display: inline;
  }
    span{
      font-size: 1.6rem;
      font-weight: 300;
      display: inline;
    }
    
  }
  @include respo('mobile'){
    .hero-content{
      text-align: center;

    }
  }
  

}